<settings>
  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>github</id>
      <repositories>
        <repository>
          <id>github</id>
          <url>https://maven.pkg.github.com/CCPL-Solutions/gdmt-lib-commons</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>github</id>
      <username>${env.GITHUB_ACTOR_SETTINGS}</username>
      <password>${env.GITHUB_TOKEN_SETTINGS}</password>
    </server>
  </servers>
</settings>
